* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
@mixin container($max-width: 1080px) {
    display: grid;
    grid-template-columns:
      minmax(5vw, 1fr) repeat(12, minmax(11px, $max-width / 12)) minmax(5vw, 1fr);
  }

@import "./imports/body";
@import "./imports/footer";
@import "./imports/genreSlider";
@import "./imports/latestReleases";
@import "./imports/login";
@import "./imports/navbar";
@import "./imports/popupContent";
@import "./imports/resultGenre";
@import "./imports/results";
@import "./imports/search";
@import "./imports/settings";