* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


@import "./imports/body";
@import "./imports/footer";
@import "./imports/genreSlider";
@import "./imports/latestReleases";
@import "./imports/login";
@import "./imports/navbar";
@import "./imports/popupContent";
@import "./imports/resultGenre";
@import "./imports/results";
@import "./imports/search";
@import "./imports/settings";